[MASTER]

# A comma-separated list of package or module names from where C extensions may
# be loaded. Extensions are loading into the active Python interpreter and may
# run arbitrary code.
#extension-pkg-whitelist=vapoursynth

[FORMAT]
#
# Maximum number of characters on a single line.
max-line-length=120

# Maximum number of lines in a module.
max-module-lines=1000

[DESIGN]

# Maximum number of arguments for function / method.
max-args=10

[MESSAGES CONTROL]
# vapoursynth stuff seems broken
disable=c-extension-no-member
